@*
_CommonRedist/
addons/
appcache/
battleye/
config/
docs/
dta/
logs/
sakhal/
server_manager/
steamapps/
ban.txt
dayz.gproj
DayZServer_x64.exe
dayzsetting.xml
steam_api64.dll
steam_appid.txt
steamclient64.dll
tier0_s64.dll
vstdlib_s64.dll
whitelist.txt
serverDZ.cfg