@*
_CommonRedist/
addons/
appcache/
battleye/
config/
docs/
dta/
logs/
sakhal/
server_manager/
steamapps/
ban
dayz
DayZServer_x64
dayzsetting
steam_api64
steam_appid
steamclient64
tier0_s64
vstdlib_s64
whitelist
